
body {
  display: inline;
}

.boardwrapper {
  margin: 50px;
  margin-left: 150px;
}

div[data-boardid] {
  margin: auto;
  width: 50%;
}

svg[style] {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}