
body {
  display: inline;
}

.boardwrapper {
  margin: auto;
  width: 60%;
  position: absolute;
  margin-top: 50px;
  margin-left: 200px;
}

/* div[data-boardid] {
  margin: auto;
  width: 50%;
}

svg[style] {
  position: absolute;
} */