
body {
  display: inline;
}

.boardwrapper {
  margin: auto;
  width: 60%;
  position: absolute;
  margin-top: 50px;
  /* margin-left: 200px; */
  /* margin-left: 20vw; */
  left: 20%;
  /* transform: translate(-50%); */
}

@media all and (max-width: 980px) {
  .boardwrapper {
    /* left: 10%; */
    width: 70%
  }
}

@media all and (max-width: 400px) {
  .boardwrapper {
    left: 300px;
  }
}

/* div[data-boardid] {
  margin: auto;
  width: 50%;
}

svg[style] {
  position: absolute;
} */